.none {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.body__lock {
  overflow: hidden;
}
.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.title {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #333333;
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}
.undertitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #333333;
}
@media (max-width: 768px) {
  .undertitle {
    font-size: 18px;
  }
}
.btn {
  padding: 22px 58px;
  background: #4990E2;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 11px;
  padding-bottom: 14px;
  background: #FFFFFF;
  z-index: 6;
}
.header.sticky {
  top: 0;
  background: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 6;
}
.header.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
}
.header__burger-icon {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: #4990E2;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-in 0.2s;
  transition: background-color 0.2s ease-in 0.2s;
}
.header__burger-icon::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  top: -9px;
  background-color: #4990E2;
  border-radius: 2px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.header__burger-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  top: 9px;
  background-color: #4990E2;
  border-radius: 2px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.header__burger-icon_active {
  background-color: transparent;
}
.header__burger-icon_active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.header__burger-icon_active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    -webkit-transition: -webkit-transform 0.35s ease-in;
    transition: -webkit-transform 0.35s ease-in;
    transition: transform 0.35s ease-in;
    transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
    z-index: 1;
  }
}
.header__mobile-nav {
  display: none;
}
@media (max-width: 768px) {
  .header__mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    -webkit-transition: -webkit-transform 0.35s ease-in;
    transition: -webkit-transform 0.35s ease-in;
    transition: transform 0.35s ease-in;
    transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
    z-index: 5;
    overflow-y: auto;
  }
}
.header__mobile-nav_active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: -webkit-transform 0.35s ease-in;
  transition: -webkit-transform 0.35s ease-in;
  transition: transform 0.35s ease-in;
  transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
  overflow-y: auto;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .header__list {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__list-item {
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__list-item:last-child {
  margin: 0;
}
@media (max-width: 1060px) {
  .header__list-item {
    margin-right: 25px;
  }
}
@media (max-width: 900px) {
  .header__list-item {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .header__list-item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.header__list-item-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 850px) {
  .header__list-item-link {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (max-width: 768px) {
  .header__list-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}
.header__btn {
  display: none;
}
@media (max-width: 768px) {
  .header__btn {
    display: block;
    margin-bottom: 60px;
  }
}
.header__desc {
  display: none;
}
.header__desc p,
.header__desc a {
  font-size: 14px;
  line-height: 220%;
  text-align: center;
  color: #333333;
}
@media (max-width: 768px) {
  .header__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 35px;
    border-top: 1px solid #E0E0E0;
  }
}
.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 970px) {
  .header__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 500px) {
  .header__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.header__socials-tel {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 970px) {
  .header__socials-tel {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .header__socials-tel {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .header__socials-tel {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
.header__socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__socials-icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 5px;
}
.header__socials-icons a:last-child {
  margin-right: 0;
}
@media (max-width: 500px) {
  .header__socials-icons {
    position: relative;
    right: 0px;
    margin-left: auto;
  }
}
.header__socials-icons-viber_desctop {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
@media (max-width: 1024px) {
  .header__socials-icons-viber_desctop {
    display: none !important;
  }
}
.header__socials-icons-viber_tablet {
  display: none !important;
}
@media (max-width: 1024px) {
  .header__socials-icons-viber_tablet {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
.hero {
  margin-top: 75px;
  padding-top: 207px;
  padding-bottom: 207px;
  background-image: url('../img/hero/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 550px) {
  .hero {
    background-image: url('../img/hero/hero-bg2.png');
    padding-top: 177px;
    padding-bottom: 147px;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  color: #333333;
  text-align: center;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 550px) {
  .hero__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .hero__title {
    font-size: 25px;
    margin-bottom: 12px;
  }
}
.hero__undertitle {
  margin-bottom: 40px;
  text-align: center;
}
.gives {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .gives {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gives__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gives__top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .gives__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 600px) {
  .gives__title {
    margin-bottom: 15px;
  }
}
.gives__top-desc {
  width: 46%;
  font-size: 14px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}
@media (max-width: 600px) {
  .gives__top-desc {
    width: 100%;
  }
}
.gives__item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #E0E0E0;
}
.gives__item-top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gives__undertitle {
  margin-bottom: 10px;
}
.gives__item-top-desc {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}
@media (max-width: 600px) {
  .gives__item-top-desc {
    font-size: 16px;
  }
}
.gives__cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 600px) {
  .gives__cards-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gives__card {
  margin-bottom: 30px;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gives__card:last-child {
  margin-bottom: 3px;
}
@media (max-width: 600px) {
  .gives__card {
    width: 100%;
  }
}
.gives__card-img {
  width: 50px;
  height: 50px;
  margin-right: 22px;
}
.gives__card-img img {
  width: 100%;
}
@media (max-width: 550px) {
  .gives__card-img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }
}
.gives__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gives__card-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}
@media (max-width: 600px) {
  .gives__card-title {
    font-size: 14px;
    font-size: 16px;
  }
}
.gives__desc {
  font-size: 14px;
  line-height: 150%;
  color: #555555;
}
.gives__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gives__bottom-undertitle {
  text-align: center;
  margin-bottom: 20px;
}
.gives__rows-wrap {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .gives__rows-wrap {
    margin-bottom: 20px;
  }
}
.gives__row {
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gives__row:last-child {
  margin-bottom: 0;
}
@media (max-width: 650px) {
  .gives__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 0;
  }
}
.gives__row-item {
  margin-right: 10px;
  padding: 10px 11px;
  background: #4990E2;
  border-radius: 3px;
  font-weight: 900;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}
.gives__row-item br {
  display: none;
}
@media (max-width: 800px) {
  .gives__row-item br {
    display: block;
  }
}
@media (max-width: 500px) {
  .gives__row-item br {
    display: none;
  }
}
.gives__row-item:last-child {
  margin-right: 0;
}
@media (max-width: 1170px) {
  .gives__row-item {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .gives__row-item {
    font-size: 10px;
    padding: 8px;
    margin-right: 7px;
  }
}
@media (max-width: 840px) {
  .gives__row-item {
    margin-right: 5px;
    padding: 8px 5px;
  }
}
@media (max-width: 800px) {
  .gives__row-item {
    width: 30%;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .gives__row-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .gives__row-item {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}
.gives__bottom-desc {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #333333;
}
@media (max-width: 600px) {
  .gives__bottom-desc {
    font-size: 16px;
  }
}
.consist {
  padding-top: 80px;
  padding-bottom: 73px;
  background: #F9F9F9;
}
.consist__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.consist__top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .consist__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .consist__title {
    margin-bottom: 20px;
  }
}
.consist__top-desc {
  width: 50%;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
@media (max-width: 768px) {
  .consist__top-desc {
    width: 90%;
  }
}
.consist__main {
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .consist__main {
    margin-bottom: 90px;
  }
}
@media (max-width: 1060px) {
  .consist__main {
    margin-bottom: 80px;
  }
}
.consist__main.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  bottom: 1;
  width: 31px;
  height: 50px;
  padding: 13px 2px 13px 5px;
  background-color: #4990E2;
  background-image: url('../img/consist/consist-arrow-next.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin: 0;
}
.consist__main.owl-carousel .owl-nav button.owl-next span {
  display: none;
}
.consist__main.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 31px;
  height: 50px;
  padding: 13px 2px 13px 5px;
  background-color: #4990E2;
  background-image: url('../img/consist/consist-arrow-prev.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin: 0;
}
.consist__main.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}
.owl-dots {
  content: counter(slides-num) "/";
  position: absolute;
  bottom: -25px;
  left: 514px;
  background: #4990E2;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
}
.owl-dots:after {
  content: "/" counter(slides-num);
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
}
@media (max-width: 1200px) {
  .owl-dots {
    bottom: -70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 1060px) {
  .owl-dots {
    bottom: -56px;
  }
}
.owl-dot {
  display: inline-block;
  counter-increment: slides-num;
  margin-right: 5px;
}
.owl-dot span {
  display: none !important;
}
.owl-dot.active:before {
  content: counter(slides-num);
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: right;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.owl-carousel .owl-item img {
  width: auto;
}
.owl-theme .owl-nav {
  margin: 0;
  position: absolute;
  bottom: -50px;
  left: 41%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 50px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .owl-theme .owl-nav {
    bottom: -70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 1060px) {
  .owl-theme .owl-nav {
    bottom: -56px;
  }
}
.consist__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1060px) {
  .consist__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.consis__item-left {
  margin-right: 30px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1060px) {
  .consis__item-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 730px) {
  .consis__item-left {
    overflow-x: hidden;
  }
}
.consis__item-title {
  margin-bottom: 30px;
  font-weight: bold;
}
.consist__item-desc {
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.consist__item-desc:last-child {
  margin-bottom: 0;
}
@media (max-width: 730px) {
  .consist__item-img-wrap {
    overflow-y: scroll;
  }
}
.consist__item-img {
  width: 700px;
  height: 572px;
}
@media (max-width: 1200px) {
  .consist__item-img {
    width: 700px !important;
    height: 516px !important;
  }
}
@media (max-width: 1060px) {
  .consist__item-img {
    margin-left: auto;
    margin-right: auto;
  }
}
.consist__item-img img {
  border: 1px solid #000;
  width: 700px !important;
  height: 516px;
}
.consist__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consist__bottom-undertitle {
  margin-bottom: 10px;
  font-weight: 500;
}
.consist__bottom-desc {
  width: 670px;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #333333;
}
@media (max-width: 700px) {
  .consist__bottom-desc {
    width: 100%;
  }
}
.cost {
  padding-top: 80px;
  padding-bottom: 153px;
}
@media (max-width: 768px) {
  .cost {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
.cost__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cost__title {
  margin-bottom: 20px;
  text-align: left;
}
.cost__desc {
  width: 68%;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  color: #333333;
}
@media (max-width: 768px) {
  .cost__desc {
    margin-bottom: 35px;
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .cost__desc {
    margin-bottom: 30px;
    font-size: 14px;
  }
}
.cost__undertitle {
  margin-bottom: 50px;
}
.cost__main {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .cost__main {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .cost__main {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cost__main_tablet {
  display: none;
}
@media (max-width: 710px) {
  .cost__main_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.cost__item {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
  width: 50%;
  height: 160px;
  border-top: 1px dashed #4990E2;
}
.cost__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 60px;
  height: 25px;
  width: 1px;
  border-left: 1px dashed #4990E2;
}
@media (max-width: 710px) {
  .cost__item::before:nth-child(8) {
    content: none;
  }
}
@media (max-width: 768px) {
  .cost__item::before {
    height: 15px;
  }
}
@media (max-width: 710px) {
  .cost__item::before {
    top: auto;
    left: 20px;
    bottom: -30px;
    height: 100%;
  }
}
.cost__item:first-child::after {
  content: '';
  position: absolute;
  width: 59px;
  height: 6px;
  background-color: #fff;
  top: -4px;
  left: 0;
}
@media (max-width: 710px) {
  .cost__item:first-child::after {
    content: none;
  }
}
.cost__item:nth-child(2) {
  border-right: 1px dashed #4990E2;
}
@media (max-width: 710px) {
  .cost__item:nth-child(2) {
    border: none;
  }
}
.cost__item:nth-child(3) {
  border-right: none;
  border-left: 1px dashed #4990E2;
}
@media (max-width: 710px) {
  .cost__item:nth-child(3) {
    border: none;
  }
}
.cost__item:nth-child(5) {
  border-left: none;
}
@media (max-width: 710px) {
  .cost__item:nth-child(5) {
    border: none;
  }
}
.cost__item:nth-child(6) {
  border-right: 1px dashed #4990E2;
}
@media (max-width: 710px) {
  .cost__item:nth-child(6) {
    border: none;
  }
}
.cost__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .cost__item {
    height: 180px;
  }
}
@media (max-width: 990px) {
  .cost__item {
    height: 210px;
  }
}
@media (max-width: 800px) {
  .cost__item {
    height: 240px;
  }
}
@media (max-width: 768px) {
  .cost__item {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 710px) {
  .cost__item {
    padding: 0;
    width: 100%;
    border-top: none;
    height: auto;
    margin-bottom: 30px;
  }
}
.cost__item_before::after {
  content: '';
  position: absolute;
  width: 59px;
  height: 6px;
  background-color: #fff;
  top: -4px;
  left: 0;
}
@media (max-width: 710px) {
  .cost__item_before::after {
    content: none;
  }
}
@media (max-width: 710px) {
  .cost__item_before::before {
    content: none;
  }
}
.cost__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.cost__item-text img {
  margin-right: 10px;
}
.cost__item-text p {
  position: relative;
  top: -15px;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.about {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(249, 249, 249, 0.3);
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 330px;
  height: 370px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.about__photo img {
  width: 300.27px;
  height: 338.91px;
}
@media (max-width: 400px) {
  .about__photo img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .about__photo {
    margin-right: 30px;
  }
}
@media (max-width: 645px) {
  .about__photo {
    display: none;
  }
}
.about__photo_tablet {
  display: none;
}
@media (max-width: 645px) {
  .about__photo_tablet {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 400px) {
  .about__photo_tablet {
    width: 100%;
    height: auto;
  }
}
.about__text {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 645px) {
  .about__text {
    width: 100%;
  }
}
.about__title {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .about__title {
    margin-bottom: 30px;
  }
}
.about__undertitle {
  margin-bottom: 30px;
}
.about__desc {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #555555;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 785px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__contacts {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1090px) {
  .footer__contacts {
    width: 350px;
  }
}
@media (max-width: 970px) {
  .footer__contacts {
    width: 300px;
  }
}
@media (max-width: 785px) {
  .footer__contacts {
    margin-bottom: 30px;
    width: 100%;
  }
}
.footer__undertitle {
  margin-bottom: 23px;
  color: #FFFFFF;
}
.footer__list {
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 785px) {
  .footer__list {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}
.footer__list-item {
  font-size: 16px;
  line-height: 220%;
  color: #FFFFFF;
}
.footer__list-item a {
  color: #FFFFFF;
}
@media (max-width: 785px) {
  .footer__list-item {
    font-size: 14px;
  }
}
.footer__copyright {
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}
@media (max-width: 785px) {
  .footer__copyright {
    display: none;
  }
}
.footer__copyright_mobile {
  display: none;
}
@media (max-width: 785px) {
  .footer__copyright_mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.footer__right {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 940px) {
  .footer__right {
    width: 440px;
  }
}
@media (max-width: 785px) {
  .footer__right {
    width: 100%;
  }
}
.footer__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 500px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__input-wrap {
  margin-bottom: 30px;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 500px) {
  .footer__input-wrap {
    width: 100%;
  }
}
.footer__input-label {
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__input {
  background: #555555;
  padding-bottom: 5px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__input:-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__input::-webkit-outer-spin-button,
.footer__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.footer__input-wrap-square {
  width: 43%;
  position: relative;
}
.footer__input-wrap-square span {
  position: absolute;
  right: -24px;
  bottom: 5px;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: #FFFFFF;
}
@media (max-width: 940px) {
  .footer__input-wrap-square span {
    bottom: 35px;
  }
}
@media (max-width: 785px) {
  .footer__input-wrap-square span {
    bottom: 5px;
  }
}
@media (max-width: 575px) {
  .footer__input-wrap-square span {
    bottom: 35px;
  }
}
@media (max-width: 500px) {
  .footer__input-wrap-square span {
    bottom: 5px;
  }
}
@media (max-width: 500px) {
  .footer__input-wrap-square {
    width: 95%;
  }
}
.footer__object {
  width: 47%;
}
.footer__object h3 {
  margin-bottom: 9px;
}
@media (max-width: 500px) {
  .footer__object {
    margin-bottom: 30px;
    width: 100%;
  }
}
.footer__object-title {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__object-checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__object-checkbox label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 940px) {
  .footer__object-checkbox label {
    margin-bottom: 15px;
  }
}
@media (max-width: 785px) {
  .footer__object-checkbox label {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .footer__object-checkbox label {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .footer__object-checkbox label {
    margin-bottom: 0;
  }
}
@media (max-width: 940px) {
  .footer__object-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 785px) {
  .footer__object-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 575px) {
  .footer__object-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (max-width: 500px) {
  .footer__object-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.custom-checkbox {
  position: relative;
  margin-right: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  vertical-align: middle;
}
.custom-checkbox::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  background-image: url(../img/footer/checkbox-icon.svg);
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.checkbox__text {
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.checkbox__text br {
  display: none;
}
@media (max-width: 500px) {
  .checkbox__text br {
    display: block;
  }
}
.footer__privacy {
  width: 47%;
}
.footer__privacy label {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .footer__privacy label {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  .footer__privacy {
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer__bottom {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  color: #555555;
}
@media (max-width: 500px) {
  .footer__bottom {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */