.cost {
    padding-top: 80px;
    padding-bottom: 30px;

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.cost__content {
    display: flex;
    flex-direction: column;
}

.cost__title {
    margin-bottom: 20px;
    text-align: left;
}

.cost__desc {
    width: 68%;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: #333333;  
    
    @media (max-width: 768px) {
        margin-bottom: 35px;
        width: 100%;
        font-size: 16px;
    }

    @media (max-width: 550px) {
        margin-bottom: 30px;
        font-size: 14px;
    }
}

.cost__undertitle {
    margin-bottom: 50px;
}

.cost__main {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
        width: 100%;
    }

    @media (max-width: 710px) {
        display: none;
        flex-direction: column;
    }
}

.cost__main_tablet {
    display: none;

    @media (max-width: 710px) {
        display: flex;
    }
}

.cost__item {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 40px;
    padding-left: 40px;
    width: 50%;
    height: 160px;
    border-top: 1px dashed #4990E2; 

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 60px;
        height: 25px;
        width: 1px;
        border-left: 1px dashed #4990E2;
        
        &:nth-child(8) {
            @media (max-width: 710px) {
                content: none;
            }
        }

        @media (max-width: 768px) {
            height: 15px;
        }

        @media (max-width: 710px) {
            top: auto;
            left: 20px;
            bottom: -30px;
            height: 100%;
        }
    }

    &:first-child {
        &::after {
            content: '';
            position: absolute;
            width: 59px;
            height: 6px;
            background-color: #fff;
            top: -4px;
            left: 0;

            @media (max-width: 710px) {
                content: none;
            }
        }
    }

    &:nth-child(2) {
        border-right: 1px dashed #4990E2;

        @media (max-width: 710px) {
            border: none;
        }
    }

    &:nth-child(3) {
        border-right: none;
        border-left: 1px dashed #4990E2;

        @media (max-width: 710px) {
            border: none;
        }
    }

    &:nth-child(5) {
        border-left: none;

        @media (max-width: 710px) {
            border: none;
        }
    }

    &:nth-child(6) {
        border-right: 1px dashed #4990E2;

        @media (max-width: 710px) {
            border: none;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 1200px) {
        height: 180px;
    }

    @media (max-width: 990px) {
        height: 210px;
    }

    @media (max-width: 800px) {
        height: 240px;
    }

    @media (max-width: 768px) {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    @media (max-width: 710px) {
        padding: 0;
        width: 100%;
        border-top: none;
        height: auto;
        margin-bottom: 30px;
    }
}

.cost__item_before {
    &::after {
        content: '';
        position: absolute;
        width: 59px;
        height: 6px;
        background-color: #fff;
        top: -4px;
        left: 0;

        @media (max-width: 710px) {
            content: none;
        }
    }      

    &::before {
        @media (max-width: 710px) {
            content: none;
        }
    }
}

.cost__item-text {
    display: flex;
    align-items: baseline;

    img {
        margin-right: 10px;
    }

    p {
        position: relative;
        top: -15px;
        font-size: 14px;
        line-height: 150%;
        color: #333333;        
    }
}