.cost {
    padding-top: 80px;
    padding-bottom: 153px;

    @media (max-width: 768px) {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

.cost__content {
    display: flex;
    flex-direction: column;
}

.cost__title {
    margin-bottom: 20px;
    text-align: left;
}

.cost__desc {
    width: 68%;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: #333333;  
    
    @media (max-width: 768px) {
        margin-bottom: 35px;
        width: 100%;
        font-size: 16px;
    }

    @media (max-width: 550px) {
        margin-bottom: 30px;
        font-size: 14px;
    }
}

.cost__undertitle {
    margin-bottom: 50px;
}

.cost__main {
    position: relative;
    width: 100%;

    @media (max-width: 740px) {
        flex-direction: column;
    }
}

.cost__main-img {
    width: 1180px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    @media (max-width: 1200px) {
        display: none;
    }
}

.cost__main-img2 {
    display: none;

    @media (max-width: 1200px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 500px;
    }

    @media (max-width: 925px) {
        width: 800px;
    }

    @media (max-width: 925px) {
        width: 700px;
        height: 400px;
    }

    @media (max-width: 740px) {
        display: none;
    }
}


.cost__item {
    position: absolute;
    display: inline-flex;
    width: 480px;

    @media (max-width: 1200px) {
        display: none;
    }

    @media (max-width: 740px) {
        margin-bottom: 30px;
        width: 100%;
        position: relative;
        display: inline-flex;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.cost__item1 {
    top: 37px;
    left: 48px;

    &::before {
        @media (max-width: 740px) {
            content: '';
            position: absolute;
            border-left: 1px dashed #4990E2;
            height: 100%;
            width: 0;
            left: 20px;
            bottom: -25px;
        }
    }

    @media (max-width: 740px) {
        top: 0;
        left: 0;
    }
}

.cost__item2 {
    top: 40px;
    right: 0;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 19px;
        height: 25px;
        width: 0px;
        border-left: 1px dashed #4990E2;

        @media (max-width: 740px) {
            top: 24px;
            height: 100%;
            left: 20px;
        }
    }

    @media (max-width: 740px) {
        top: 0;
        right: 0;
    }
}

.cost__item3 {
    top: 197px;
    right: 0;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 19px;
        height: 25px;
        width: 0px;
        border-left: 1px dashed #4990E2;

        @media (max-width: 740px) {
            top: 24px;
            height: 100%;
            left: 20px;
        }
    }

    @media (max-width: 740px) {
        top: 0;
        right: 0;
    }
}

.cost__item4 {
    top: 197px;
    left: 48px;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 19px;
        height: 25px;
        width: 0px;
        border-left: 1px dashed #4990E2;

        @media (max-width: 740px) {
            top: 24px;
            height: 100%;
            left: 20px;
        }
    }

    @media (max-width: 740px) {
        top: 0;
        left: 0;
    }
}

.cost__item5 {
    bottom: 102px;
    left: 48px;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 19px;
        height: 25px;
        width: 0px;
        border-left: 1px dashed #4990E2;

        @media (max-width: 740px) {
            top: 24px;
            height: 100%;
            left: 20px;
        }
    }

    @media (max-width: 740px) {
        top: 0;
        left: 0;
    }
}

.cost__item6 {
    bottom: 102px;
    right: 0;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 19px;
        height: 25px;
        width: 0px;
        border-left: 1px dashed #4990E2;

        @media (max-width: 740px) {
            top: 24px;
            height: 100%;
            left: 20px;
        }
    }    

    @media (max-width: 740px) {
        top: 0;
        right: 0;
    }
}

.cost__item7 {
    bottom: -55px;
    right: 0;

    &::before {
        content: '';
        position: absolute;
        top: -38px;
        left: 19px;
        height: 25px;
        width: 0px;
        border-left: 1px dashed #4990E2;

        @media (max-width: 740px) {
            top: 24px;
            height: 100%;
            left: 20px;
        }
    }  

    @media (max-width: 740px) {
        top: 0;
        right: 0;
    }
}

.cost__item8 {
    bottom: -57px;
    left: 48px;
    
    @media (max-width: 740px) {
        top: 0;
        left: 0;
    }
}

.cost__item-icon {
    position: relative;
    top: -10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.cost__item-desc {
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

