.gives {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

.gives__content {
    display: flex;
    flex-direction: column;
}

.gives__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.gives__title {
    @media (max-width: 600px) {
        margin-bottom: 15px;
    }
}

.gives__top-desc {
    width: 46%;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;  
    
    @media (max-width: 600px) {
        width: 100%;
    }
}

.gives__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
}

.gives__item-top {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.gives__undertitle {
    margin-bottom: 10px;
}

.gives__item-top-desc {
    font-size: 18px;
    line-height: 150%;
    color: #333333;    

    @media (max-width: 600px) {
        font-size: 16px;        
    }
}

.gives__cards-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.gives__card {
    margin-bottom: 30px;
    width: 48%;
    display: flex;

    &:last-child {
        margin-bottom: 3px;
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}

.gives__card-img {
    width: 50px;
    height: 50px;
    margin-right: 22px;

    img {
        width: 100%;
    }

    @media (max-width: 550px) {
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
}   

.gives__card-text {
    display: flex;
    flex-direction: column;
}

.gives__card-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #333333;   
    
    @media (max-width: 600px) {
        font-size: 14px;
        font-size: 16px;
    }
}

.gives__desc {
    font-size: 14px;
    line-height: 150%;
    color: #555555;    
}

.gives__bottom {
    display: flex;
    flex-direction: column;
}

.gives__bottom-undertitle {
    text-align: center;
    margin-bottom: 20px;
}

.gives__rows-wrap {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 500px) {
        margin-bottom: 20px;
    }
}

.gives__row {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 650px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 0;
    }
}

.gives__row-item {
    margin-right: 10px;
    padding: 10px 11px;
    background: #4990E2;
    border-radius: 3px;    
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;

    br {
        display: none;

        @media (max-width: 800px) {
            display: block;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 1170px) {
        font-size: 12px;
    }

    @media (max-width: 1024px) {
        font-size: 10px;
        padding: 8px;
        margin-right: 7px;
    }

    @media (max-width: 840px) {
        margin-right: 5px;
        padding: 8px 5px;
    }

    @media (max-width: 800px) {
        width: 30%;
        text-align: center;
    }

    @media (max-width: 650px) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    @media (max-width: 500px) {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}

.gives__bottom-desc {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #333333;  
    
    @media (max-width: 600px) {
        font-size: 16px;        
    }
}