.gives {
    padding-top: 80px;
    padding-bottom: 80px;
}

.gives__content {
    display: flex;
    flex-direction: column;
}

.gives__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.gives__title {

}

.gives__top-desc {
    width: 46%;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;    
}

.gives__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
}

.gives__item-top {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.gives__undertitle {
    margin-bottom: 10px;
}

.gives__item-top-desc {
    font-size: 18px;
    line-height: 150%;
    color: #333333;    
}

.gives__cards-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gives__card {
    margin-bottom: 30px;
    width: 48%;
    display: flex;

    &:last-child {
        margin-bottom: 3px;
    }
}

.gives__card-img {
    width: 50px;
    height: 50px;
    margin-right: 22px;

    img {
        width: 100%;
    }
}   

.gives__card-text {
    display: flex;
    flex-direction: column;
}

.gives__card-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #333333;    
}

.gives__desc {
    font-size: 14px;
    line-height: 150%;
    color: #555555;    
}

.gives__bottom {
    display: flex;
    flex-direction: column;
}

.gives__bottom-undertitle {
    text-align: center;
    margin-bottom: 20px;
}

.gives__rows-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gives__row {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
        margin-bottom: 0;
    }

    // &:first-child {
    //     justify-content: space-between;
    // }
}

.gives__row-item {
    margin-right: 10px;
    padding: 10px 11px;
    background: #4990E2;
    border-radius: 3px;    
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;

    &:last-child {
        margin-right: 0;
    }
}