.hero {
    margin-top: 75px;
    padding-top: 207px;
    padding-bottom: 207px;
    background-image: url('../img/hero/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @media (max-width: 550px) {
        background-image: url('../img/hero/hero-bg2.png');
        padding-top: 177px;
        padding-bottom: 147px;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 44px;
    line-height: 120%;
    color: #333333;    
    text-align: center;

    @media (max-width: 768px) {
        font-size: 35px;
        margin-bottom: 25px;
    }

    @media (max-width: 550px) {
        font-size: 30px;
        margin-bottom: 20px;
    }

    @media (max-width: 400px) {
        font-size: 25px;
        margin-bottom: 12px;
    }
}

.hero__undertitle {
    margin-bottom: 40px;
    text-align: center;
}

.hero-btn {

}